# Python / IDE ignores
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.tox/
.nox/

# Type checker
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local settings
settings.json